.l-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 1em;
  background: #fff;
  opacity: 0;
  transform: translateY(-10px);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s, transform 0.3s;
}

.l-tooltip_visible {
  opacity: 1;
  transform: translateY(0);
}
